<nz-layout style="height: 100vh; overflow: scroll">
  <nz-header style="color: #fff">{{ title }}</nz-header>
  <nz-content>
    <div style="padding-top: 32px">
      <div nz-row [nzGutter]="16">
        <div nz-col nzSpan="8" style="margin-bottom: 20px">
          <nz-card>
            <h1>Workshop #2</h1>

            <nz-divider></nz-divider>

            <h4>Data Binding : {{ description }}</h4>

            <br />

            <h4>By 'Keyup' event : {{ result || "-" }}</h4>

            <input
              type="text"
              placeholder="input value"
              (keyup)="onKeyup($event)"
            />

            <br />

            <br />

            <h4>By 'Click' event : {{ result || "-" }}</h4>

            <button type="button" (click)="onClickNewData()">Halo Halo</button>
          </nz-card>
        </div>

        <div nz-col nzSpan="8" style="margin-bottom: 20px">
          <nz-card>
            <app-workshop-form-binding></app-workshop-form-binding>
          </nz-card>
        </div>

        <div nz-col nzSpan="8" style="margin-bottom: 20px">
          <nz-card>
            <h1>Workshop #list</h1>

            <nz-divider></nz-divider>

            <app-workshop-list></app-workshop-list>
          </nz-card>
        </div>

        <div nz-col nzSpan="8" style="margin-bottom: 20px">
          <nz-card>
            <h1>Workshop #Component</h1>

            <nz-divider></nz-divider>

            <app-login></app-login>
          </nz-card>
        </div>
      </div>
    </div>
  </nz-content>
  <!-- <nz-footer>Footer</nz-footer> -->
</nz-layout>
