<p>login works!</p>

<!-- <h4>Login Page</h4>

<input type="email" name="" id="" />

<input type="password" name="" id="" />

<button type="button">Login</button> -->

<h4>Workshop #4</h4>

<div class="ant-table ant-table-content">
  <table style="table-layout: auto">
    <thead class="ant-table-thead">
      <tr class="ant-table-row">
        <th class="ant-table-cell">#</th>
        <th class="ant-table-cell">First Name</th>
        <th class="ant-table-cell">Last Name</th>
      </tr>
    </thead>
    <tbody class="ant-table-tbody">
      <tr class="ant-table-row" *ngFor="let user of users; index as i">
        <td class="ant-table-cell">{{ user.id }}</td>
        <td class="ant-table-cell">{{ user.firstName }}</td>
        <td class="ant-table-cell">{{ user.lastName }}</td>
      </tr>
    </tbody>
  </table>
</div>
